@{
    <h1>Number Insight Advanced Results</h1>
        <hr style="height:2px; color:black" />
        <h2>Number validity: @ViewBag.numberValidity</h2>
        <h2>Number reachability: @ViewBag.numberReachability</h2>
        <h2>Roaming status: @ViewBag.roamingStatus</h2>
}

